/* 
This whole stylesheet needs a ton of work.
Finalize functional code base first and make it pretty later...
To do:
    - Remove fixed pixel measurements and make all sizing dynamically
        calculated with reasonable min/max
    - Make it actually look nice and come up with a consistent theme...
    - Honestly just learn how the heck to make a pretty style sheet

*/

#renderContainer {
    width: 100%;
    height: 100vh; /* Use viewport height for full screen */
    max-width: 800px; /* Adjust maximum width if needed */
    margin: 0 auto; /* Center the container horizontally */
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.button {
    background-color: #e7e7e7; /* Gray */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:hover {
background-color: white;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

/* Context menu styling*/
.context-menu {
    background-color: white;
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    width: 120px;
    z-index: 1000;
}

.context-menu li {
    padding: 8px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #ddd;
}
/* End context menu styling*/

.header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.highlighted {
    background-color: #ADD8E6;
}

/* Edit condition popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1001;
  }


/* Edit protocol executor form*/
.form-group {
    margin-bottom: 15px;
}